.step__body {
  margin-top: 24px;
}

.radio {
  margin-top: 16px;
  &:first-child {
    margin-top: 0px;
  }
}

.step__options {
  display: flex;
  gap: 24px;
  margin-top: 40px;
  max-width: 464px;
}
