.menu {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 5;
  background-color: var(--invert);
}

@media (max-width: 768px) {
  .menu {
    display: flex;
  }
}
