{
  "trailingComma": "es5",
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "bracketSameLine": true,
  "importOrder": [
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^@/pages/(.*)$",
    "^@/types/(.*)$",
    "^@/shared/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
