.link {
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--text-secondary);
  svg path {
  transition: 0.3s;
  fill: var(--indicator-normal);
  }
}
.link_active {
    color: var(--brand);
    svg path {
        fill: var(--brand);
      }
}
