.select {
  position: relative;
}

.select__label {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-secondary);
}
.select__button {
  text-align: left;
  margin-top: 6px;
  padding: 8px 12px;
  display: flex;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--border-light);
  width: 100%;
  line-height: 24px;
  color: var(--text-secondary);
  font-size: 16px;
  align-items: center;
  transition: 0.3s;

  span {
    width: 100%;
  }

  &:hover {
    border-color: var(--indicator-normal);
  }
}

.select__placeholder {
  color: var(--text-tertiary);
}

.select__arrow {
  transition: 0.3s;
  margin-left: auto;
}

.select__body {
  display: none;
  position: absolute;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  background-color: var(--invert);
  z-index: 10;
}

.select__item {
  display: block;
  line-height: 24px;
  color: var(--text-secondary);
  font-size: 16px;
  padding: 4px 12px;
  width: 100%;
  text-align: left;
  &:hover {
    background-color: var(--bg-secondary);
  }
}

.select__options {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
  gap: 8px;
}

.select__option {
  font-size: 14px;
  color: var(--text-tertiary);
  text-decoration: underline;
}

.select_open {
  .select__body {
    display: block;
  }
  .select__arrow {
    transform: rotate(180deg);
  }
}
