.result__body {
  margin-top: 24px;
}

.result__item {
  margin-top: 24px;
  &:first-child {
    margin-top: 0;
  }
}

.result__info {
  text-align: right;
  margin-top: 36px;
}

.result__desc {
  margin-top: 16px;
  color: rgba(52, 64, 81, 1);
}

.result__options {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.result__btn {
  max-width: 328px;
}

.modal__img {
  width: 56px;
  height: 56px;
  margin: 0 auto;
}

.modal__title {
  margin-top: 24px;
  text-align: center;
}

.modal__description {
  margin-top: 16px;
  font-size: 18px;
  color: var(--text-secondary);
  text-align: center;
}

.modal__btn {
  margin: 40px auto 0;
  max-width: 328px;
  display: block;
}
