.auth {
  max-width: 464px;
}

.auth__desc {
  margin-top: 24px;
  line-height: 24px;
}
.auth__form {
  margin-top: 24px;
}

.auth__input {
  margin-top: 24px;
}

.auth__btn {
  margin-top: 24px;
  max-width: 324px;
}
