.profile {
  max-width: 462px;
}

.skeleton {
  height: 50px;
  width: 100%;
  margin-top: 24px;
}

.profile__form {
  margin-top: 24px;
}

.profile__button {
  margin-top: 24px;
}

.profile__header {
  display: flex;
  gap: 16px;
  align-items: center;
}
